.app {
  /* text-align: center; */
}

.app-bar {
  flex-grow: 1;
  background-color: aqua !important;
  justify-content: center;
}

.app-bar__title {
  color: hsl(231 25% 48% / 1);
  flex-grow: 1;
  font-weight: bold !important; 
}

.app-bar__menu-icon {
  position: relative;
}
.test {
  height: 1500px;
  background-color: bisque;
}